extends layout

block content0
  style.
    .ui { font-family: Avenir, sans-serif; }
    .code { font-family: Monofur, monospace; }
    .light { background: whitesmoke; color: black; }
    .tight { margin: 0; padding: 0; }

    #about {
      padding: 0.5ex 0 0 1ex;
      color: #333333;
      font-size: 130%;
    }

    #program {
      float: left;
      color: #333333;
      font-size: 1.2em;
    }

    #execute, #creditSpent {
      width: 6em;
      font-size: 120%;
    }

  script.
    (() => { 'use strict';
      const elem = id => document.getElementById(id);
      const on = (t, e, h) => t.addEventListener(e, h);
      const ready = h => on(document, 'DOMContentLoaded', h);

      ready(() => {
        on(elem('execute'), 'click', async () => {
          let [langAndVerIndex, stdin, script] = elem('program').
            value.split(/\s--\s/m);
          let [language, versionIndex] = langAndVerIndex.split(/\s/);

          p(`execute...`, null);
          pp(await jdoodle.execute({
            language,
            versionIndex: Number(versionIndex) || 0,
            stdin,
            script
          }), `execute`);
        });

        on(elem('creditSpent'), 'click', async () => {
          p(`creditSpent...`, null);
          pp(await jdoodle.creditSpent(), `creditSpent`);
        });
      });
    })();

block content
  h1(class='tight', id='about')= title

  p(class='tight')
    textarea(class='code', id='program',
      rows='25', cols='80', autocorrect='off'
    ).
      ruby 2
      --
      Hey!
      --
      puts "ruby \#{RUBY_VERSION}: \#{ARGF.read}"

    button(id='execute') Execute
    br
    button(id='creditSpent') Credit
